{% extends "::layout.html.twig" %}

{% block title %}index - Translate - CorahnRinTranslateBundle{% endblock %}

{% block content_for_layout %}
<h1>Contrôleur Translate, vue index</h1>
{% endblock %}
