# Non-used files
node_modules
/vendor
/_dev_files
/build
/docker
/tests
/docs

/app/config/parameters.yml
phpunit.xml
/var

*.php~

/web/bundles
/web/js/*
/web/css/*
/web/uploads
/web/img/markerstypes
