# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

IMAGEMAGICK_BINARIES_PATH=/usr/local/bin/

# Updated in production with the automated scripts
# In dev, it's used only by Gulp-watch to disable client cache.
RELEASE_VERSION="v50"
RELEASE_DATE="2017-07-18T10:53:10Z"

AGATE_DOMAIN=studio-agate.com
DRAGONS_DOMAIN=dragons-rpg.com
ESTEREN_DOMAIN=esteren.org
VERMINE_DOMAIN=vermine2047.com

AWS_REGION=""
AWS_BUCKET=""
AWS_SECRET=""
AWS_KEY=""

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=65sdqf65qz1r6grfds4g698ae46r5hdfgsdxfgqer65dsh1b65fg84
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Set "serverVersion" to your server version to avoid edge-case exceptions and extra database calls
DATABASE_URL="mysql://esteren_portal:password_portal@127.0.0.1:3306/esteren_portal?serverVersion=5.7"
DATABASE_URL_LEGACY="mysql://esteren_legacy:password_legacy@127.0.0.1:3306/esteren_legacy?serverVersion=5.7"
###< doctrine/doctrine-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###
