# Bootstrap
/app/bootstrap*

# Esteren Maps
/web/maps_tiles/*
!/web/maps_tiles/.gitkeep
!/web/maps_tiles/empty.jpg

# Backups entités
*.php~

# PHPStorm
/.idea/

# Ignore des assets
/web/js/
!/web/js/.gitkeep
/web/css/
!/web/css/.gitkeep
/web/img/
!/web/img/.gitkeep
/web/uploads/
!/web/uploads/.gitkeep
!/web/uploads/media/.gitkeep


# Symfony directories
/app/config/parameters.yml
/app/cache/*
/app/logs/*

/web/uploads/*
/web/components/*
/web/uploads/*
/web/bundles/

/build/
/vendor/

/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

/bin/*
!bin/console
!bin/symfony_requirements