# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Eclipse
.settings/
.settings/*
.buildpath
.project

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Backups
*.php~

# Fichiers dev
#_dev_files/
/nbproject

# Ignore temporaire
/app/Resources/Translations/*
