{
    "directories-bin": [
        "app/config",
        "app/Resources",
        "bin",
        "src",
        "vendor"
    ],
    "files-bin": [
        "app/AppCache.php",
        "app/AppPortableKernel.php",
        "app/autoload.php",
        "app/bootstrap.php.cache",
        "app/console_portable"
    ],
    "main": "web/app_portable.php",
    "output": "esteren.phar",
    "stub": true,
    "web": true
}
