<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.7/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         colors="true"
         verbose="true"
         bootstrap="./tests/phpunit/bootstrap.php"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
>

    <testsuites>
        <testsuite name="Shadows of Esteren project test suite">
            <directory>./phpunit/*</directory>
            <directory>./src/AdminBundle/Tests</directory>
            <directory>./src/AgateBundle/Tests</directory>
            <directory>./src/UserBundle/Tests</directory>
            <directory>./src/CorahnRin/CorahnRinBundle/Tests</directory>
            <directory>./src/Esteren/PortalBundle/Tests</directory>
            <directory>./src/EsterenMaps/MapsBundle/Tests</directory>
            <exclude>./vendor</exclude>
        </testsuite>
    </testsuites>

    <!--%
    <logging>
        <log type="junit" target="./build/log/logfile.xml" />
        <log type="coverage-html" target="./build/log/report" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target="./build/log/clover.xml" />
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" />
    </logging>
    %-->

    <php>
        <server name="KERNEL_DIR" value="./app/" />
        <ini name="error_reporting" value="-1" />
        <ini name="zend.enable_gc" value="0" />
        <env name="SYMFONY_ENV" value="test" />
        <env name="SYMFONY_DEBUG" value="0" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak_vendors" />
        <!-- Uncomment this if you do not need to refresh the whole cache between runs
        <env name="NO_CLEAR_CACHE" value="1" />
        -->
        <!-- Uncomment this if you don't want to reset the database between runs
        <env name="NO_RECREATE_DB" value="1" />
        -->
        <!-- Uncomment this if you want to force database recreation between runs
        <env name="RECREATE_DB" value="1" />
        -->
        <!-- Uncomment this if you want less tests for Step 7 random tests, which is 100 by default
        <env name="STEP7_RANDOMNESS_COUNT" value="1" />
        -->
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
            <exclude>
                <directory>./src/CorahnRin/CorahnRinBundle/PDF</directory><!-- External library cannot be tested -->

                <directory>./src/*Bundle/Resources</directory>
                <directory>./src/*/*Bundle/Resources</directory>
                <directory>./src/*/Bundle/*Bundle/Resources</directory>

                <directory>./src/*Bundle/DataFixtures</directory>
                <directory>./src/*/*Bundle/DataFixtures</directory>
                <directory>./src/*/Bundle/*Bundle/DataFixtures</directory>

                <directory>./src/*Bundle/Command</directory>
                <directory>./src/*/*Bundle/Command</directory>
                <directory>./src/*/Bundle/*Bundle/Command</directory>

                <directory>./src/*Bundle/Tests</directory>
                <directory>./src/*/*Bundle/Tests</directory>
                <directory>./src/*/Bundle/*Bundle/Tests</directory>

                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
