{% trans_default_domain 'EsterenMaps' -%}
{%- spaceless %}
    <h3 id="marker_popup_name" class="text-xxl"></h3>
    <p id="marker_popup_type"></p>

    <p>
        {{ 'Faction' | trans }} :
        <span id="marker_popup_faction"></span>
    </p>
{% endspaceless %}
