div.gen-div-choice,
div.gen-div-choice-disabled {
   -webkit-transition: 0.2s background-color ease-in-out;
      -moz-transition: 0.2s background-color ease-in-out;
       -ms-transition: 0.2s background-color ease-in-out;
        -o-transition: 0.2s background-color ease-in-out;
           transition: 0.2s background-color ease-in-out;
}

div.gen-div-choice:hover {
    background-color: rgba(238, 238, 238, 0.1);
    cursor:pointer;
}

div.gen-div-choice.selected,
div.gen-div-choice-disabled.selected {
    background-color: rgba(238, 238, 238, 0.2);
}

div.gen-div-choice.selected:hover {
    background-color: rgba(238, 238, 238, 0.3);
}

div.divchoice-inside {
    display: none;
    padding-bottom: 10px;
}