{% extends "::base.html.twig" %}
{% block body %}

    <div id="wrapper">
        <div id="layout" class="container">

            {# MENUS #}

			{% block menus %}
				{% render(controller("CorahnRinPagesBundle:Menus:menu", {'route':app.request.attributes.get('_route')})) %}
			{% endblock %}

            {# FLASH MESSAGES #}
            {{ translateRoute('fos_user_error') }}
                {% for key, message in app.session.flashbag.all() %}
                    <div class="alert alert-{{ key }}">{{ message | trans }}</div>
                {% endfor %}
            {{ translateRoute() }}

            {% block fos_user_content %}{% endblock fos_user_content %}

            {# DYNAMIC CONTENT FOR LAYOUT #}

            <div id="content">
                {% block content_for_layout %}{% endblock %}

            </div><!--/#content-->

        </div><!--/#layout-->

        {# FOOTER #}
        {% include "CorahnRinPagesBundle:Pages:footer.html.twig" %}


    </div><!--/#wrapper-->

{% endblock %}
