{% extends "::layout.html.twig" %}

{% block title %}CorahnRinCharactersBundle:Viewer:view{% endblock %}

{% block content_for_layout %}

<h2>{{'Visualiser un personnage'}} : {{ character.name }}</h2>

{% endblock %}
