{% spaceless %}
    <h3 id="marker_popup_name"></h3>
    <p id="marker_popup_type"></p>

    <p>
        {{ 'Faction' | trans }} :
        <span id="marker_popup_faction"></span>
    </p>
{% endspaceless %}