{% extends "::layout.html.twig" %}

{% block title %}adminList - SocialClass - CorahnRinCharactersBundle{% endblock %}

{% block content_for_layout %}
<h1>Contrôleur SocialClass, vue adminList</h1>
{% endblock %}
