html {
    background: #000;
    color: #eee;
}

#layout {
    clear: both;
}

#esteren_logo {
    max-height: 70px;
    margin-top: 0;
}

form textarea {
    outline: none;
    border-top: none transparent;
    border-left: none transparent;
    border-right: none transparent;
}

.btn.disable_tags {
    line-height: 2em;
    font-size: 0.8em;
    height: auto;
    padding: 0 15px;
}
#cnil_disclaimer {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background: black;
    padding: 10px;
    text-align: center;
    line-height: 1.2em;
}

#wrapper {
    .btn.active {
        @extend .btn.disabled;
        pointer-events: auto;
    }
    .badge.fln {
        margin: 0;
        padding: 3px 6px;
    }
}
.btn {
    &.btn-small {
        height: 20px;
        line-height: 20px;
        padding: 0 0.85rem;
        font-size: 11px;
    }
    &.btn-medium {
        height: 25px;
        line-height: 25px;
        padding: 0 1rem;
        font-size: 13px;
    }
}
