{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if value %}
        <div class="text-center">
            <img src="{{ absoluteToWebPath(value) }}" style="max-height: 100px;max-width: 400px;" />
        </div>
    {% else %}
        &ndash;
    {% endif %}
{% endblock %}