#map_wrapper,
#map_container,
#map_container img,
#map_container .zoom-container {
    border: none;
    outline: none;
    display: block;
    margin: 0;
    padding: 0;
}

#map_wrapper {
    position: relative;
    margin: 0 auto;
    background: black;
    width: 100%;
    overflow: hidden;
}

#map_container,
#map_container *{
    position: absolute;
}

#map_zones {
    width: 100%;
}
#map_zones,
#map_zones * {
    z-index: 2000;
}
#map_zones polygon {
    fill: white;
    opacity: 0.2;
    stroke: #ccc;
    stroke-width: 1.
}
#map_labels,
#map_labels * {
    z-index: 3000;
}

#map_container .zoom-container {
/*    -webkit-transition: 0.5s -webkit-transform ease-in-out;
      -moz-transition:  0.5s    -moz-transform ease-in-out;
       -ms-transition:  0.5s     -ms-transform ease-in-out;
        -o-transition:  0.5s      -o-transform ease-in-out;
           transition:  0.5s         transform ease-in-out;*/
}

