#map_wrapper,
#map_container,
#map_container img,
#map_container .zoom-container {
    border: none;
    outline: none;
    display: block;
    margin: 0;
    padding: 0;
}

#map_wrapper {
    position: relative;
    margin: 0 auto;
    background: black;
    width: 100%;
    overflow: hidden;
}

#map_container,
#map_container *{
    position: absolute;
}

#map_zones {
    width: 100%;
    overflow: visible;
}
#map_zones,
#map_zones * {
    z-index: 2000;
}
#map_zones polygon {
    fill: rgba(192, 192, 192, 0.1);
    stroke: rgba(255, 255, 255, 0.7);
    stroke-width: 1;
}
#map_zones polygon:hover {
    cursor: pointer;
    fill: rgba(192, 192, 192, 0.25);
    stroke: rgba(255, 255, 255, 0.8);
    stroke-width: 1;
}
#map_zones polygon.active,
#map_zones polygon:active,
#map_zones polygon:focus {
    stroke: #fff;
    fill: rgba(64, 64, 64, 0.25);
    stroke-width: 2;
}
#map_labels,
#map_labels * {
    z-index: 3000;
}

#map_edit_menu {
    z-index:  25000;
}

#map_container .zoom-container {
/*    -webkit-transition: 0.5s -webkit-transform ease-in-out;
      -moz-transition:  0.5s    -moz-transform ease-in-out;
       -ms-transition:  0.5s     -ms-transform ease-in-out;
        -o-transition:  0.5s      -o-transform ease-in-out;
           transition:  0.5s         transform ease-in-out;*/
}

.map-icon-target {
    position: absolute;
    z-index: 4000;
    color: #ccc;
    font-size: 16px;
    margin: -8px 0px 0px -8px;
    text-shadow: 0px 0px 4px #000;
}
.map-icon-target:hover {
    cursor:pointer;
}