html {
    a {
        color: #45608f;
    }
}

.portal-link {
    text-align: center;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.verminepic {
    position: relative;
    span {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
    }
}

.team-member {
    h3 {
        img {
            max-height: 100px;
        }
        span, img {
            vertical-align: middle;
        }
    }
}
