
{% if is_granted('ROLE_ADMIN_MAPS_SUPER') %}
    <a href="{{ url('admin_esterenmaps_maps_maps_editInteractive', {'id':object.id}) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-edit"></i>
        {{ 'Édition interactive'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}