#map {
    background-color: black;
}
#map_wrapper,
#map_container,
#map_container img,
#map_container .zoom-container {
    border: none;
    outline: none;
    display: block;
    margin: 0;
    padding: 0;
}

#map_wrapper {
    position: relative;
    margin: 0 auto;
    background: black;
    width: 100%;
    overflow: hidden;
}

#map_container,
#map_container *{
    position: absolute;
}

/** Conteneurs de points, lignes et polygones **/
    #map_markers,
    #map_svg_container {
        width: 100%;
        overflow: visible;
    }
    #map_svg_container,
    #map_markers {
        z-index: 2000;
    }
    #map_svg_container polygon { z-index: 2100; }
    #map_svg_container polyline { z-index: 2200; }
    #map_markers .map-marker { z-index: 2300; }


/** Polygones **/
    #map_svg_container polygon {
        fill: rgba(192, 192, 192, 0.1);
        stroke: rgba(255, 255, 255, 0.7);
        stroke-width: 1;
    }
    #map_svg_container polygon:hover {
        cursor: pointer;
        fill: rgba(192, 192, 192, 0.25);
        stroke: rgba(255, 255, 255, 0.8);
        stroke-width: 1;
    }
    #map_svg_container polygon.active,
    #map_svg_container polygon:active,
    #map_svg_container polygon:focus {
        stroke: #fff;
        fill: rgba(64, 64, 64, 0.25);
        stroke-width: 2;
    }

/** Polylines **/
    #map_svg_container polyline {
        fill: none;
        stroke: rgba(255, 255, 255, 0.7);
        stroke-width: 2;
    }
    #map_svg_container polyline:hover {
        cursor: pointer;
        stroke: rgba(255, 255, 255, 0.8);
        stroke-width: 2;
    }
    #map_svg_container polyline.active,
    #map_svg_container polyline:active,
    #map_svg_container polyline:focus {
        stroke: #fff;
        stroke-width: 3;
    }

/** Marqueurs **/
    #map_markers .map-marker {
        font-size: 19px;
        display: block;
        height: 1em;
        margin-top: -16px;
        margin-left: -9px;
        text-shadow: 2px -2px 10px #000;
    }
    #map_markers .map-marker:hover,
    #map_markers .map-marker.active,
    #map_markers .map-marker:active,
    #map_markers .map-marker:focus {
        color: #FFEBD5;
        cursor: pointer;
        text-shadow: 2px -2px 5px #000;
    }

#map_labels,
#map_labels * {
    z-index: 3000;
}

#map_edit_menu {
    z-index:  25000;
    padding: 10px 10px 0 10px;
}

#map_container .zoom-container {
/*    -webkit-transition: 0.5s -webkit-transform ease-in-out;
      -moz-transition:  0.5s    -moz-transform ease-in-out;
       -ms-transition:  0.5s     -ms-transform ease-in-out;
        -o-transition:  0.5s      -o-transform ease-in-out;
           transition:  0.5s         transform ease-in-out;*/
}

.map-icon-target {
    position: absolute;
    z-index: 4000;
    color: #ccc;
    font-size: 16px;
    margin: -8px 0 0 -8px;
    text-shadow: 0 0 4px #000;
}
.map-icon-target:hover {
    cursor:pointer;
}

.leaflet-marker-icon.selected {
    outline: solid 1px #a22;
}

#corahnrin .leaflet-container {
    background-color: black;
}

#corahnrin .leaflet-popup-content {
    color: #222222;
}
#corahnrin .leaflet-popup-content-wrapper,
#corahnrin .leaflet-popup-tip {
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-box-shadow: 0 3px 10px #000000;
    -moz-box-shadow: 0 3px 10px #000000;
    box-shadow: 0 3px 10px #000000;
}

#sidebar {
    height: auto;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}
#corahnrin .leaflet-sidebar {
    height: auto;
}

#directions_control_content {
    display: none;
}
#leaflet-directions-control {
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 10px 10px 10px;
    min-width: 27px;
    min-height: 27px;
}
#leaflet-directions-toggle {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0 0 6px;
    display: block;
    font-size: 14px;
}

/*
Edit mode
*/
#leaflet-filters-control {
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 10px 10px 10px;
    min-width: 30px;
    min-height: 30px;
    max-height: 30px;
    width: 20px;
    -webkit-transition-property: width,height;
    -moz-transition-property: width,height;
    -o-transition-property: width,height;
    transition-property: width,height;
    -webkit-transition-duration: 400ms;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
}
#leaflet-filters-control .leaflet-filters-control-content {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 400ms;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}
#leaflet-filters-control.expanded .leaflet-filters-control-content {
    width: 100%;
    height: auto;
    opacity: 1;
    margin-bottom: 25px;
}
#leaflet-filters-toggle {
    position: absolute;
    bottom: 2px;
    left: 2px;
    padding: 4px 7px;
    display: block;
}
#leaflet-filters-control.expanded-full {
    max-height: 100%;
}
.leaflet-filters-control-content ul li {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
}
.leaflet-filters-control-content ul li label {
    margin: 0;
}
.leaflet-filters-control-content ul li label:hover {
    cursor: pointer;
    color: #444;
}
.leaflet-filters-control-content ul li .checkbox-inline {
    padding-top: 0;
    padding-bottom: 0;
}
@media(max-width:767px) {
    #leaflet-filters-control.expanded {
        width: 100%;
        padding: 0;
    }
}
@media(min-width:768px) and (max-width:991px) {
    #leaflet-filters-control.expanded {
        width: 305px;
    }
}
@media(min-width:992px) and (max-width:1199px) {
    #leaflet-filters-control.expanded {
        width: 390px;
    }
}

@media(min-width:1200px) {
    #leaflet-filters-control.expanded {
        width: 460px;
    }
}

/** Leaflet overrides **/
html body .leaflet-container .leaflet-container {
    font: inherit;
}
