#corahnrin body {
color: #e0e0e0;
background-attachment: fixed;
background-color: #181818;
background-image: url("../images/background-image.jpg");
background-position: center top;
background-repeat: no-repeat;
}

#corahnrin .jumbotron {
background-image: none;
background-color: #111;
background-color: rgba(0, 0, 0, 0.5);
}

/** Navigation **/
#corahnrin .navbar-default {
background-color: #eee;
border-color: #404040;
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#eee), to(#aaa));
background-image: -o-gradient(linear, left 0%, left 100%, from(#eee), to(#aaa));
background-image: -webkit-linear-gradient(top, #eee 0%, #aaa 100%);
background-image: -moz-linear-gradient(top, #eee 0%, #aaa 100%);
background-image: linear-gradient(to bottom, #eee 0%, #aaa 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeee', endColorstr='#ffaaa', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar-inverse{
background-color: #eee;
border-color: #404040;
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3c3c3c), to(#222));
background-image: -o-gradient(linear, left 0%, left 100%, from(#3c3c3c), to(#222));
background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
background-image: -moz-linear-gradient(top, #3c3c3c 0%, #222 100%);
background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#corahnrin .navbar-default .navbar-nav > .active > a {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ccc), to(#eee));
background-image: -o-gradient(linear, left 0%, left 100%, from(#ccc), to(#eee));
background-image: -webkit-linear-gradient(top, #ccc 0%, #eee 100%);
background-image: -moz-linear-gradient(top, #ccc 0%, #eee 100%);
background-image: linear-gradient(to bottom, #ccc 0%, #eee 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccccc', endColorstr='#ffeeeeee', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#corahnrin .page-header {
  border-color: #888888;
}


/** lists **/
#corahnrin .list-group-item {
color: #bbb;
padding: 8px 13px;
border-color: #666;
background-color: transparent;
background-image: -webkit-gradient(linear, left 0%, left 100%, from(rgba(20, 20, 20, 0.3)), to(#111));
background-image: -o-gradient(linear, left 0%, left 100%, from(rgba(20, 20, 20, 0.3)), to(#111));
background-image: -webkit-linear-gradient(top, rgba(20, 20, 20, 0.3) 0%, #111 100%);
background-image: -moz-linear-gradient(top, rgba(20, 20, 20, 0.3) 0%, #111 100%);
background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.3) 0%, #111 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e141414', endColorstr='#ff111111', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#corahnrin a.list-group-item.active, #corahnrin a.list-group-item.active:hover, a.list-group-item.active:focus,
#corahnrin a.list-group-item:hover, #corahnrin a.list-group-item:focus {
  background-color: #634C39;
  border-color: #634C39;
  color: #ddd;
}
#corahnrin a.list-group-item:hover, #corahnrin a.list-group-item:focus {
  background-color: rgba(99, 76, 57, 0.6);
  border-color: #666;
}
#corahnrin a.list-group-item .list-group-item-heading {
  color: inherit;
}

/** Panels **/
#corahnrin .panel-heading {
padding: 9px 12px;
}
#corahnrin .panel-footer {
background-color: rgba(50, 50, 50, 0.6);
border-color: #333;
padding: 5px 15px;
font-size: 12px;
color: #999;
}
#corahnrin .panel { background-color: rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

#corahnrin .panel-default { border-color: #333; }
#corahnrin .panel-default > .panel-heading {
  background-image: none;
  background-color: #aaa;
  border-color: #bbb;
  background-color: rgba(255,255,255,0.5);
}
#corahnrin .panel-success { border-color: #4E6D46; }
#corahnrin .panel-success > .panel-heading {
  background-color: rgba(78, 109, 70, 0.64);
  background-image: none;
  border-color: #4E6D46;
  color: #9CD69D;
}
#corahnrin .panel-warning { border-color: #716A30; }
#corahnrin .panel-warning > .panel-heading {
  background-color: rgba(113, 106, 48, 0.5);
  border-color: #716A30;
  background-image: none;
  color: #F7E6A4;
}
#corahnrin .panel-primary { border-color: #3E5B71; }
#corahnrin .panel-primary > .panel-heading {
  background-color: rgba(62, 90, 113, 0.5);
  border-color: #3E5B71;
  background-image: none;
  color: #93B9F7;
}
#corahnrin .panel-info { border-color: #48807B; }
#corahnrin .panel-info > .panel-heading {
  background-color: rgba(124, 180, 175, 0.30);
  border-color: #48807B;
  background-image: none;
  color: #A4CDCA;
}
#corahnrin .panel-danger { border-color: #915353; }
#corahnrin .panel-danger > .panel-heading {
  background-color: rgba(145, 84, 84, 0.40);
  border-color: #915353;
  background-image: none;
  color: #E6A8A8;
}

#corahnrin .well {
background-color: transparent;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4NTEzYiIgc3RvcC1vcGFjaXR5PSIwLjQyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNjMxMmMiIHN0b3Atb3BhY2l0eT0iMC43MyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background-image: -moz-linear-gradient(top,  rgba(88,81,59,0.42) 0%, rgba(54,49,44,0.9) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,81,59,0.42)), color-stop(100%,rgba(54,49,44,0.9)));
background-image: -webkit-linear-gradient(top,  rgba(88,81,59,0.42) 0%,rgba(54,49,44,0.9) 100%);
background-image: -o-linear-gradient(top,  rgba(88,81,59,0.42) 0%,rgba(54,49,44,0.9) 100%);
background-image: -ms-linear-gradient(top,  rgba(88,81,59,0.42) 0%,rgba(54,49,44,0.9) 100%);
background-image: linear-gradient(to bottom,  rgba(88,81,59,0.42) 0%,rgba(54,49,44,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b58513b', endColorstr='#5a36312c',GradientType=0 );
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-color: #635444;
}

#corahnrin .navbar-default .navbar-nav > .active > a, #corahnrin .navbar-default .navbar-nav > .active > a:hover, #corahnrin .navbar-default .navbar-nav > .active > a:focus {
background-color: #eee;
}

#corahnrin .img-thumbnail {
background-color: #404040;
padding: 3px;
border-color: #4d4d4d;
}

#corahnrin .dropdown-menu {
background-color: #222;
}

#corahnrin .dropdown-menu > li > a {
color: #999;
}

#corahnrin .dropdown-menu > li.active > a {
color: #eee;
}
/** Dropdown **/
#corahnrin .dropdown-menu > .active > a, #corahnrin .dropdown-menu > .active > a:hover, #corahnrin .dropdown-menu > .active > a:focus {
background-color: #484848;
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#595959), to(#484848));
background-image: -o-gradient(linear, left 0%, left 100%, from(#595959), to(#484848));
background-image: -webkit-linear-gradient(top, #595959 0%, #484848 100%);
background-image: -moz-linear-gradient(top, #595959 0%, #484848 100%);
background-image: linear-gradient(to bottom, #595959 0%, #484848 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff595959', endColorstr='#ff484848', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#corahnrin .dropdown-menu > li > a:hover, #corahnrin .dropdown-menu > li > a:focus {
background-color: #333;
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#444), to(#333));
background-image: -o-gradient(linear, left 0%, left 100%, from(#444), to(#333));
background-image: -webkit-linear-gradient(top, #444 0%, #333 100%);
background-image: -moz-linear-gradient(top, #444 0%, #333 100%);
background-image: linear-gradient(to bottom, #444 0%, #333 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444', endColorstr='#ff333', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#corahnrin .dropdown-menu .divider {
background-color: #353535;
}
/** Progress bars **/
#corahnrin .progress {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(rgba(50, 50, 50, 0.3)), to(rgba(20,20,20,0.5)));
background-image: -o-gradient(linear, left 0%, left 100%, from(rgba(50, 50, 50, 0.3)), to(rgba(20,20,20,0.5)));
background-image: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.3) 0%, rgba(20,20,20,0.5) 100%);
background-image: -moz-linear-gradient(top, rgba(50, 50, 50, 0.3) 0%, rgba(20,20,20,0.5) 100%);
background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.3) 0%, rgba(20,20,20,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e323232', endColorstr='#32141414', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
background-color: transparent;
}

#corahnrin .progress-bar {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#103B5A), to(#101C32));
background-image: -o-gradient(linear, left 0%, left 100%, from(#103B5A), to(#101C32));
background-image: -webkit-linear-gradient(top, #103B5A 0%, #101C32 100%);
background-image: -moz-linear-gradient(top, #103B5A 0%, #101C32 100%);
background-image: linear-gradient(to bottom, #103B5A 0%, #101C32 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff103B5A', endColorstr='#ff101C32', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#corahnrin .progress-bar.progress-bar-success {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#426A3E), to(#224A1E));
background-image: -o-gradient(linear, left 0%, left 100%, from(#426A3E), to(#224A1E));
background-image: -webkit-linear-gradient(top, #426A3E 0%, #224A1E 100%);
background-image: -moz-linear-gradient(top, #426A3E 0%, #224A1E 100%);
background-image: linear-gradient(to bottom, #426A3E 0%, #224A1E 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff426A3E', endColorstr='#ff224A1E', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

}

#corahnrin .progress-bar.progress-bar-info {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#37A58D), to(#00677A));
background-image: -o-gradient(linear, left 0%, left 100%, from(#37A58D), to(#00677A));
background-image: -webkit-linear-gradient(top, #37A58D 0%, #00677A 100%);
background-image: -moz-linear-gradient(top, #37A58D 0%, #00677A 100%);
background-image: linear-gradient(to bottom, #37A58D 0%, #00677A 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37A58D', endColorstr='#ff00677A', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#corahnrin .progress-bar.progress-bar-warning {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#AA8800), to(#664400));
background-image: -o-gradient(linear, left 0%, left 100%, from(#AA8800), to(#664400));
background-image: -webkit-linear-gradient(top, #AA8800 0%, #664400 100%);
background-image: -moz-linear-gradient(top, #AA8800 0%, #664400 100%);
background-image: linear-gradient(to bottom, #AA8800 0%, #664400 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffAA8800', endColorstr='#ff664400', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

}

#corahnrin .progress-bar.progress-bar-danger {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#A94B4B), to(#913333));
background-image: -o-gradient(linear, left 0%, left 100%, from(#A94B4B), to(#913333));
background-image: -webkit-linear-gradient(top, #A94B4B 0%, #913333 100%);
background-image: -moz-linear-gradient(top, #A94B4B 0%, #913333 100%);
background-image: linear-gradient(to bottom, #A94B4B 0%, #913333 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffA94B4B', endColorstr='#ff913333', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/** Alerts **/
#corahnrin .alert {
text-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
#corahnrin .alert-success {
background-color: transparent;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlNzc1MyIgc3RvcC1vcGFjaXR5PSIwLjYzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODY1M2MiIHN0b3Atb3BhY2l0eT0iMC43NyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background-image: -moz-linear-gradient(top,  rgba(94,119,83,0.63) 0%, rgba(72,101,60,0.77) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,119,83,0.63)), color-stop(100%,rgba(72,101,60,0.77)));
background-image: -webkit-linear-gradient(top,  rgba(94,119,83,0.63) 0%,rgba(72,101,60,0.77) 100%);
background-image: -o-linear-gradient(top,  rgba(94,119,83,0.63) 0%,rgba(72,101,60,0.77) 100%);
background-image: -ms-linear-gradient(top,  rgba(94,119,83,0.63) 0%,rgba(72,101,60,0.77) 100%);
background-image: linear-gradient(to bottom,  rgba(94,119,83,0.63) 0%,rgba(72,101,60,0.77) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a15e7753', endColorstr='#c448653c',GradientType=0 );
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-color: #58754C;
color: #AADAAA;
}

#corahnrin .alert-info {
background-color: transparent;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5YmRjNyIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY5OGVhMCIgc3RvcC1vcGFjaXR5PSIwLjU1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background-image: -moz-linear-gradient(top,  rgba(169,189,199,0.4) 0%, rgba(105,142,160,0.55) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,189,199,0.4)), color-stop(100%,rgba(105,142,160,0.55)));
background-image: -webkit-linear-gradient(top,  rgba(169,189,199,0.4) 0%,rgba(105,142,160,0.55) 100%);
background-image: -o-linear-gradient(top,  rgba(169,189,199,0.4) 0%,rgba(105,142,160,0.55) 100%);
background-image: -ms-linear-gradient(top,  rgba(169,189,199,0.4) 0%,rgba(105,142,160,0.55) 100%);
background-image: linear-gradient(to bottom,  rgba(169,189,199,0.4) 0%,rgba(105,142,160,0.55) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66a9bdc7', endColorstr='#8c698ea0',GradientType=0 );

filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-color: #698EA0;
color: #BCE1FC;
}

#corahnrin .alert-warning {
background-color: transparent;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1OWQ2NyIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2EyNzgyNyIgc3RvcC1vcGFjaXR5PSIwLjU1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background-image: -moz-linear-gradient(top,  rgba(181,157,103,0.4) 0%, rgba(162,120,39,0.55) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,157,103,0.4)), color-stop(100%,rgba(162,120,39,0.55)));
background-image: -webkit-linear-gradient(top,  rgba(181,157,103,0.4) 0%,rgba(162,120,39,0.55) 100%);
background-image: -o-linear-gradient(top,  rgba(181,157,103,0.4) 0%,rgba(162,120,39,0.55) 100%);
background-image: -ms-linear-gradient(top,  rgba(181,157,103,0.4) 0%,rgba(162,120,39,0.55) 100%);
background-image: linear-gradient(to bottom,  rgba(181,157,103,0.4) 0%,rgba(162,120,39,0.55) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b59d67', endColorstr='#8ca27827',GradientType=0 );
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-color: #9C8852;
color: #CCC67D;
}

#corahnrin .alert-danger {
background-color: transparent;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmNDY0NiIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVlMWIxYiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background-image: -moz-linear-gradient(top,  rgba(191,70,70,0.4) 0%, rgba(94,27,27,0.6) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,70,70,0.4)), color-stop(100%,rgba(94,27,27,0.6)));
background-image: -webkit-linear-gradient(top,  rgba(191,70,70,0.4) 0%,rgba(94,27,27,0.6) 100%);
background-image: -o-linear-gradient(top,  rgba(191,70,70,0.4) 0%,rgba(94,27,27,0.6) 100%);
background-image: -ms-linear-gradient(top,  rgba(191,70,70,0.4) 0%,rgba(94,27,27,0.6) 100%);
background-image: linear-gradient(to bottom,  rgba(191,70,70,0.4) 0%,rgba(94,27,27,0.6) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66bf4646', endColorstr='#995e1b1b',GradientType=0 );
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-color: #7E2323;
color: #FFACAC;
}

/** Boutons **/
#corahnrin .btn {
padding: 5px 12px;
}
#corahnrin .btn.btn-link {
  text-shadow: 0 0 4px rgba(1, 1, 1, 0.61);
}

#corahnrin .btn.btn-lg {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 7px 16px;
}

#corahnrin .btn.btn-sm {
padding: 3px 10px;
}

#corahnrin .btn.btn-xs {
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
padding: 1px 6px;
}

/*---- default ----*/
#corahnrin .btn-default {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#B7B7B7), to(#696969));
background-image: -o-gradient(linear, left 0%, left 100%, from(#B7B7B7), to(#696969));
background-image: -webkit-linear-gradient(top, #B7B7B7 0%, #696969 100%);
background-image: -moz-linear-gradient(top, #B7B7B7 0%, #696969 100%);
background-image: linear-gradient(to bottom, #B7B7B7 0%, #696969 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffB7B7B7', endColorstr='#ff696969', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-color: #7F7F7F;
text-shadow: 0 1px 1px #A4A4A4;
}

#corahnrin .btn-default:hover, #corahnrin .btn-default:focus {
background-color: #9E9E9E;
}

#corahnrin .btn-default:hover, #corahnrin .btn-default:focus, #corahnrin .btn-default:active, #corahnrin .btn-default.active, #corahnrin .open .dropdown-toggle.btn-default {
background-color: #696969;
}
/*---- primary ----*/
#corahnrin .btn-primary {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#103B5A), to(#101C32));
background-image: -o-gradient(linear, left 0%, left 100%, from(#103B5A), to(#101C32));
background-image: -webkit-linear-gradient(top, #103B5A 0%, #101C32 100%);
background-image: -moz-linear-gradient(top, #103B5A 0%, #101C32 100%);
background-image: linear-gradient(to bottom, #103B5A 0%, #101C32 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff103B5A', endColorstr='#ff101C32', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

border-color: #00063A;
}

#corahnrin .btn-primary:hover, #corahnrin .btn-primary:focus {
background-color: #101B36;
}

#corahnrin .btn-primary:active, #corahnrin .btn-primary.active {
background-color: #051835;
border-color: #00163A;
}
/*---- success ----*/
#corahnrin .btn-success {
background-color: #224A1E;
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#426A3E), to(#224A1E));
background-image: -o-gradient(linear, left 0%, left 100%, from(#426A3E), to(#224A1E));
background-image: -webkit-linear-gradient(top, #426A3E 0%, #224A1E 100%);
background-image: -moz-linear-gradient(top, #426A3E 0%, #224A1E 100%);
background-image: linear-gradient(to bottom, #426A3E 0%, #224A1E 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff426A3E', endColorstr='#ff224A1E', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

border-color: #123A0E;
}

#corahnrin .btn-success:hover, #corahnrin .btn-success:focus {
background-color: #204920;
}

#corahnrin .btn-success:hover, #corahnrin .btn-success:focus, #corahnrin .btn-success:active, #corahnrin .btn-success.active, #corahnrin .open .dropdown-toggle.btn-success {
background-color: #204920;
border-color: #103910;
}

#corahnrin .btn-success:active, #corahnrin .btn-success.active {
background-color: #204920;
border-color: #204920;
}
/*---- info ----*/
#corahnrin .btn-info {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#37A58D), to(#00677A));
background-image: -o-gradient(linear, left 0%, left 100%, from(#37A58D), to(#00677A));
background-image: -webkit-linear-gradient(top, #37A58D 0%, #00677A 100%);
background-image: -moz-linear-gradient(top, #37A58D 0%, #00677A 100%);
background-image: linear-gradient(to bottom, #37A58D 0%, #00677A 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff37A58D', endColorstr='#ff00677A', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-color: #128878;
}

#corahnrin .btn-info:hover, #corahnrin .btn-info:focus {
background-color: #066383;
border-color: #066383;
}

#corahnrin .btn-info:active, #corahnrin .btn-info.active {
background-color: #00677A;
border-color: #006489;
}
/*---- warning ----*/
#corahnrin .btn-warning {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#B76347), to(#B54B2F));
background-image: -o-gradient(linear, left 0%, left 100%, from(#B76347), to(#B54B2F));
background-image: -webkit-linear-gradient(top, #B76347 0%, #B54B2F 100%);
background-image: -moz-linear-gradient(top, #B76347 0%, #B54B2F 100%);
background-image: linear-gradient(to bottom, #B76347 0%, #B54B2F 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffB76347', endColorstr='#ffB54B2F', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-color: #A34F34;
}

#corahnrin .btn-warning:hover, #corahnrin .btn-warning:focus {
background-color: #B3492D;
border-color: #B3492D;
}
/*---- danger ----*/
#corahnrin .btn-danger {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#A94B4B), to(#913333));
background-image: -o-gradient(linear, left 0%, left 100%, from(#A94B4B), to(#913333));
background-image: -webkit-linear-gradient(top, #A94B4B 0%, #913333 100%);
background-image: -moz-linear-gradient(top, #A94B4B 0%, #913333 100%);
background-image: linear-gradient(to bottom, #A94B4B 0%, #913333 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffA94B4B', endColorstr='#ff913333', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-color: #890000;
}

#corahnrin .btn-danger:hover, #corahnrin .btn-danger:focus {
background-color: #913333;
}
/** Alerts **/
.alert-success {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5A6B53), to(#38552C));
background-image: -o-gradient(linear, left 0%, left 100%, from(#5A6B53), to(#38552C));
background-image: -webkit-linear-gradient(top, #5A6B53 0%, #38552C 100%);
background-image: -moz-linear-gradient(top, #5A6B53 0%, #38552C 100%);
background-image: linear-gradient(to bottom, #5A6B53 0%, #38552C 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5A6B53', endColorstr='#ff38552C', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
background-repeat: repeat-x;
border-color: #123B10;
}