#corahnrin {
    body {
        color: #e0e0e0;
        background-size: cover;
        background: #000 url("@{web-dir}/img/background-image.jpg") no-repeat fixed center top;
    }

    .jumbotron {
        background: rgba(0, 0, 0, 0.5) none;
    }

    .modal-content {
        background-color: rgba(28, 28, 28, 0.88);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }

    .modal-header,
    .modal-footer {
        border-color: #666;
    }

    .page-header {
        border-color: #888888;
    }

    a.list-group-item.active,
    a.list-group-item.active:hover, a.list-group-item.active:focus,
    a.list-group-item:hover,
    a.list-group-item:focus {
        background-color: #634C39;
        border-color: #634C39;
        color: #ddd;
    }

    a.list-group-item:hover,
    a.list-group-item:focus {
        background-color: rgba(99, 76, 57, 0.6);
        border-color: #666;
    }

    a.list-group-item .list-group-item-heading {
        color: inherit;
    }

    .alert p:last-child,
    .well p:last-child
    {
        margin-bottom: 0;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-nav > li > a,
    .navbar-brand
    {
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
    }

    .img-thumbnail {
        background-color: #404040;
        padding: 3px;
        border-color: #4d4d4d;
    }

    .dropdown-menu {
        background-color: #222;
    }

    .dropdown-menu > li > a {
        color: #ddd;
    }

    .dropdown-menu > li.active > a {
        color: #eee;
    }
    /** Dropdown **/
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        background-color: #555;
    }

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        background-color: #333;
    }

    .dropdown-menu .divider {
        background-color: #333;
    }

    /** Boutons **/
    *:not('.input-group-btn') .btn {
        padding: 5px 12px;
    }

    .btn.btn-link {
        text-shadow: 0 0 4px rgba(1, 1, 1, 0.61);
    }

    .btn.btn-lg {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 7px 16px;
    }

    .btn.btn-sm {
        padding: 3px 10px;
    }

    .btn.btn-xs {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: 1px 6px;
    }

    /** Nav pills **/
    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
        background-color: rgba(43, 63, 106, 0.56);
        color: #ddd;
    }

    .nav > li > a:hover,
    .nav > li > a:focus {
        background-color: rgba(255, 255, 255, 0.08);
    }

    .breadcrumb {
        background-color: rgba(245, 245, 245, 0.2);
    }

    .jumbotron {
        font-size: 16px;
    }

    /** Tables **/
    .table-striped > tbody > tr:nth-child(2n+1) > td,
    .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: rgba(105, 95, 75, 0.4);
    }

    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        background-color: rgba(105, 95, 75, 0.475);
    }

    .table > thead > tr > td.active,
    .table > tbody > tr > td.active,
    .table > tfoot > tr > td.active,
    .table > thead > tr > th.active,
    .table > tbody > tr > th.active,
    .table > tfoot > tr > th.active,
    .table > thead > tr.active > td,
    .table > tbody > tr.active > td,
    .table > tfoot > tr.active > td,
    .table > thead > tr.active > th,
    .table > tbody > tr.active > th,
    .table > tfoot > tr.active > th {
        background-color: rgba(105, 95, 75, 0.55);
    }

    .table > thead > tr > td.active:hover,
    .table > tbody > tr > td.active:hover,
    .table > tfoot > tr > td.active:hover,
    .table > thead > tr > th.active:hover,
    .table > tbody > tr > th.active:hover,
    .table > tfoot > tr > th.active:hover,
    .table > thead > tr.active:hover > td,
    .table > tbody > tr.active:hover > td,
    .table > tfoot > tr.active:hover > td,
    .table > thead > tr.active:hover > th,
    .table > tbody > tr.active:hover > th,
    .table > tfoot > tr.active:hover > th {
        background-color: rgba(105, 95, 75, 0.625);
    }

    .table > thead > tr > td.success,
    .table > tbody > tr > td.success,
    .table > tfoot > tr > td.success,
    .table > thead > tr > th.success,
    .table > tbody > tr > th.success,
    .table > tfoot > tr > th.success,
    .table > thead > tr.success > td,
    .table > tbody > tr.success > td,
    .table > tfoot > tr.success > td,
    .table > thead > tr.success > th,
    .table > tbody > tr.success > th,
    .table > tfoot > tr.success > th {
        background-color: rgba(123, 159, 109, 0.5);
        color: #AADAAA;
    }

    .table-hover > tbody > tr > td.success:hover,
    .table-hover > tbody > tr > th.success:hover,
    .table-hover > tbody > tr.success:hover > td,
    .table-hover > tbody > tr.success:hover > th {
        background-color: rgba(123, 159, 109, 0.6);
    }

    .table > thead > tr > td.info,
    .table > tbody > tr > td.info,
    .table > tfoot > tr > td.info,
    .table > thead > tr > th.info,
    .table > tbody > tr > th.info,
    .table > tfoot > tr > th.info,
    .table > thead > tr.info > td,
    .table > tbody > tr.info > td,
    .table > tfoot > tr.info > td,
    .table > thead > tr.info > th,
    .table > tbody > tr.info > th,
    .table > tfoot > tr.info > th {
        background-color: rgba(121, 171, 197, 0.5);
        color: #BCE1FC;
    }

    .table-hover > tbody > tr > td.info:hover,
    .table-hover > tbody > tr > th.info:hover,
    .table-hover > tbody > tr.info:hover > td,
    .table-hover > tbody > tr.info:hover > th {
        background-color: rgba(121, 171, 197, 0.6);
    }

    .table > thead > tr > td.warning,
    .table > tbody > tr > td.warning,
    .table > tfoot > tr > td.warning,
    .table > thead > tr > th.warning,
    .table > tbody > tr > th.warning,
    .table > tfoot > tr > th.warning,
    .table > thead > tr.warning > td,
    .table > tbody > tr.warning > td,
    .table > tfoot > tr.warning > td,
    .table > thead > tr.warning > th,
    .table > tbody > tr.warning > th,
    .table > tfoot > tr.warning > th {
        background-color: rgba(194, 169, 121, 0.5);
        color: #CCC67D;
    }

    .table-hover > tbody > tr > td.warning:hover,
    .table-hover > tbody > tr > th.warning:hover,
    .table-hover > tbody > tr.warning:hover > td,
    .table-hover > tbody > tr.warning:hover > th {
        background-color: rgba(194, 169, 121, 0.6);
    }

    .table > thead > tr > td.danger,
    .table > tbody > tr > td.danger,
    .table > tfoot > tr > td.danger,
    .table > thead > tr > th.danger,
    .table > tbody > tr > th.danger,
    .table > tfoot > tr > th.danger,
    .table > thead > tr.danger > td,
    .table > tbody > tr.danger > td,
    .table > tfoot > tr.danger > td,
    .table > thead > tr.danger > th,
    .table > tbody > tr.danger > th,
    .table > tfoot > tr.danger > th {
        background-color: rgba(224, 133, 133, 0.5);
        color: #DC9696;
    }

    .table-hover > tbody > tr > td.danger:hover,
    .table-hover > tbody > tr > th.danger:hover,
    .table-hover > tbody > tr.danger:hover > td,
    .table-hover > tbody > tr.danger:hover > th {
        background-color: rgba(224, 133, 133, 0.6);
    }



    /** Pagination **/
    .pagination > li > a,
    .pagination > li > span {
        background-color: rgba(105, 95, 75, 0.4);
        border-color: #666;
        color: #bbb;
    }

    .pagination > li:hover > a,
    .pagination > li:hover > span {
        background-color: rgba(105, 95, 75, 0.55);
    }

    .pagination > li.active > a,
    .pagination > li:active > a,
    .pagination > li.active > span,
    .pagination > li:active > span {
        background-color: rgba(105, 95, 75, 0.75);
    }


    /** jQueryUI **/
    .ui-slider .ui-slider-handle {
        background-color: #aaa0aa;
        border: 1px solid #666666;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .ui-slider:hover .ui-slider-handle {
        background-color: #C8BCAB;
    }

    .ui-slider .ui-slider-handle:hover {
        background-color: #BEAC92;
    }

    .ui-slider {
        background-color: rgba(132, 132, 132, 0.2);
        border: solid 1px #666;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}
