#corahnrin {
    body {
        color: #e0e0e0;
        background: #000 url("@{web-dir}/img/background-image.jpg") no-repeat fixed center top;
        background-size: cover;
    }

    .jumbotron {
        background: rgba(0, 0, 0, 0.5) none;
    }

    .modal-content {
        background-color: rgba(28, 28, 28, 0.88);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }

    .modal-header,
    .modal-footer {
        border-color: #666;
    }

    .page-header {
        border-color: #888888;
    }

    a.list-group-item.active,
    a.list-group-item.active:hover, a.list-group-item.active:focus,
    a.list-group-item:hover,
    a.list-group-item:focus {
        background-color: #634C39;
        border-color: #634C39;
        color: #ddd;
    }

    a.list-group-item:hover,
    a.list-group-item:focus {
        background-color: rgba(99, 76, 57, 0.6);
        border-color: #666;
    }

    a.list-group-item .list-group-item-heading {
        color: inherit;
    }

    .alert p:last-child,
    .well p:last-child,
    .container p:last-child,
    footer p:last-child,
    p:last-child
    {
        margin-bottom: 0;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-nav > li > a,
    .navbar-brand
    {
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
    }

    .img-thumbnail {
        background-color: #404040;
        padding: 3px;
        border-color: #4d4d4d;
    }

    .dropdown-menu {
        background-color: #222;
    }

    .dropdown-menu > li > a {
        color: #ddd;
    }

    .dropdown-menu > li.active > a {
        color: #eee;
    }
    /** Dropdown **/
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        background-color: #555;
    }

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        background-color: #333;
    }

    .dropdown-menu .divider {
        background-color: #333;
    }

    /** Boutons **/
    *:not('.input-group-btn') .btn {
        padding: 5px 12px;
    }

    /** Nav pills **/
    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
        background-color: rgba(43, 63, 106, 0.56);
        color: #ddd;
    }

    .nav > li > a:hover,
    .nav > li > a:focus {
        background-color: rgba(255, 255, 255, 0.08);
    }

    .breadcrumb {
        background-color: rgba(245, 245, 245, 0.2);
    }

    .jumbotron {
        font-size: 16px;
    }

    /** Tables **/

    // Override ALL table states rows
    .table-row-variant(success; darken(@state-success-bg, 30%));
    .table-row-variant(info; darken(@state-info-bg, 25%));
    .table-row-variant(warning; darken(@state-warning-bg, 25%));
    .table-row-variant(danger; darken(@state-danger-bg, 25%));

    /** Pagination **/
    .pagination > li > a,
    .pagination > li > span {
        background-color: rgba(105, 95, 75, 0.4);
        border-color: #666;
        color: #bbb;
    }

    .pagination > li:hover > a,
    .pagination > li:hover > span {
        background-color: rgba(105, 95, 75, 0.55);
    }

    .pagination > li.active > a,
    .pagination > li:active > a,
    .pagination > li.active > span,
    .pagination > li:active > span {
        background-color: rgba(105, 95, 75, 0.75);
    }


    /** jQueryUI **/
    .ui-slider .ui-slider-handle {
        background-color: #aaa0aa;
        border: 1px solid #666666;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .ui-slider:hover .ui-slider-handle {
        background-color: #C8BCAB;
    }

    .ui-slider .ui-slider-handle:hover {
        background-color: #BEAC92;
    }

    .ui-slider {
        background-color: rgba(132, 132, 132, 0.2);
        border: solid 1px #666;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}
