#corahnrin body {
    color: #e0e0e0;
    background-attachment: fixed;
    background-color: #000;
    background-image: url("/bundles/esterenportal/images/background-image.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

#corahnrin .jumbotron {
    background-image: none;
    background-color: #111;
    background-color: rgba(0, 0, 0, 0.5);
}

#corahnrin .modal-content {
    background-color: rgba(28, 28, 28, 0.88);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

#corahnrin .modal-header,
#corahnrin .modal-footer {
    border-color: #666;
}

/** Navigation **/
#corahnrin .navbar-default {
    background-color: #eee;
    border-color: #404040;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#eee), to(#aaa));
    background-image: -o-gradient(linear, left 0%, left 100%, from(#eee), to(#aaa));
    background-image: -webkit-linear-gradient(top, #eee 0%, #aaa 100%);
    background-image: -moz-linear-gradient(top, #eee 0%, #aaa 100%);
    background-image: linear-gradient(to bottom, #eee 0%, #aaa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeee', endColorstr='#ffaaa', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse {
    background-color: #eee;
    border-color: #404040;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3c3c3c), to(#222));
    background-image: -o-gradient(linear, left 0%, left 100%, from(#3c3c3c), to(#222));
    background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image: -moz-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#corahnrin .navbar-default .navbar-nav > .active > a {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ccc), to(#eee));
    background-image: -o-gradient(linear, left 0%, left 100%, from(#ccc), to(#eee));
    background-image: -webkit-linear-gradient(top, #ccc 0%, #eee 100%);
    background-image: -moz-linear-gradient(top, #ccc 0%, #eee 100%);
    background-image: linear-gradient(to bottom, #ccc 0%, #eee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccccc', endColorstr='#ffeeeeee', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#corahnrin .page-header {
    border-color: #888888;
}

#corahnrin a.list-group-item.active,
#corahnrin a.list-group-item.active:hover, a.list-group-item.active:focus,
#corahnrin a.list-group-item:hover,
#corahnrin a.list-group-item:focus {
    background-color: #634C39;
    border-color: #634C39;
    color: #ddd;
}

#corahnrin a.list-group-item:hover,
#corahnrin a.list-group-item:focus {
    background-color: rgba(99, 76, 57, 0.6);
    border-color: #666;
}

#corahnrin a.list-group-item .list-group-item-heading {
    color: inherit;
}

#corahnrin .well {
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4NTEzYiIgc3RvcC1vcGFjaXR5PSIwLjQyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNjMxMmMiIHN0b3Atb3BhY2l0eT0iMC43MyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  rgba(88,81,59,0.42) 0%, rgba(54,49,44,0.9) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,81,59,0.42)), color-stop(100%,rgba(54,49,44,0.9)));
    background-image: -webkit-linear-gradient(top,  rgba(88,81,59,0.42) 0%,rgba(54,49,44,0.9) 100%);
    background-image: -o-linear-gradient(top,  rgba(88,81,59,0.42) 0%,rgba(54,49,44,0.9) 100%);
    background-image: -ms-linear-gradient(top,  rgba(88,81,59,0.42) 0%,rgba(54,49,44,0.9) 100%);
    background-image: linear-gradient(to bottom,  rgba(88,81,59,0.42) 0%,rgba(54,49,44,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b58513b', endColorstr='#5a36312c',GradientType=0 );
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-color: #635444;
}

#corahnrin .navbar-default .navbar-nav > .active > a,
#corahnrin .navbar-default .navbar-nav > .active > a:hover,
#corahnrin .navbar-default .navbar-nav > .active > a:focus {
    background-color: #eee;
}

#corahnrin .img-thumbnail {
    background-color: #404040;
    padding: 3px;
    border-color: #4d4d4d;
}

#corahnrin .dropdown-menu {
    background-color: #222;
}

#corahnrin .dropdown-menu > li > a {
    color: #999;
}

#corahnrin .dropdown-menu > li.active > a {
    color: #eee;
}
/** Dropdown **/
#corahnrin .dropdown-menu > .active > a,
#corahnrin .dropdown-menu > .active > a:hover,
#corahnrin .dropdown-menu > .active > a:focus {
    background-color: #484848;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#595959), to(#484848));
    background-image: -o-gradient(linear, left 0%, left 100%, from(#595959), to(#484848));
    background-image: -webkit-linear-gradient(top, #595959 0%, #484848 100%);
    background-image: -moz-linear-gradient(top, #595959 0%, #484848 100%);
    background-image: linear-gradient(to bottom, #595959 0%, #484848 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff595959', endColorstr='#ff484848', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#corahnrin .dropdown-menu > li > a:hover,
#corahnrin .dropdown-menu > li > a:focus {
    background-color: #333;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#444), to(#333));
    background-image: -o-gradient(linear, left 0%, left 100%, from(#444), to(#333));
    background-image: -webkit-linear-gradient(top, #444 0%, #333 100%);
    background-image: -moz-linear-gradient(top, #444 0%, #333 100%);
    background-image: linear-gradient(to bottom, #444 0%, #333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444', endColorstr='#ff333', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#corahnrin .dropdown-menu .divider {
    background-color: #353535;
}

/** Boutons **/
#corahnrin *:not('.input-group-btn') .btn {
    padding: 5px 12px;
}

#corahnrin .btn.btn-link {
    text-shadow: 0 0 4px rgba(1, 1, 1, 0.61);
}

#corahnrin .btn.btn-lg {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 7px 16px;
}

#corahnrin .btn.btn-sm {
    padding: 3px 10px;
}

#corahnrin .btn.btn-xs {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 1px 6px;
}

/** Nav pills **/
#corahnrin .nav-pills > li.active > a,
#corahnrin .nav-pills > li.active > a:hover,
#corahnrin .nav-pills > li.active > a:focus {
    background-color: rgba(43, 63, 106, 0.56);
    color: #ddd;
}

#corahnrin .nav > li > a:hover,
#corahnrin .nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0.08);
}

#corahnrin .breadcrumb {
    background-color: rgba(245, 245, 245, 0.2);
    padding: 4px 11px;
}

#corahnrin .jumbotron {
    font-size: 16px;
}

/** Tables **/
#corahnrin .table-striped > tbody > tr:nth-child(2n+1) > td,
#corahnrin .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(105, 95, 75, 0.4);
}

#corahnrin .table-hover > tbody > tr:hover > td,
#corahnrin .table-hover > tbody > tr:hover > th {
    background-color: rgba(105, 95, 75, 0.475);
}

#corahnrin .table > thead > tr > td.active,
#corahnrin .table > tbody > tr > td.active,
#corahnrin .table > tfoot > tr > td.active,
#corahnrin .table > thead > tr > th.active,
#corahnrin .table > tbody > tr > th.active,
#corahnrin .table > tfoot > tr > th.active,
#corahnrin .table > thead > tr.active > td,
#corahnrin .table > tbody > tr.active > td,
#corahnrin .table > tfoot > tr.active > td,
#corahnrin .table > thead > tr.active > th,
#corahnrin .table > tbody > tr.active > th,
#corahnrin .table > tfoot > tr.active > th {
    background-color: rgba(105, 95, 75, 0.55);
}

#corahnrin .table > thead > tr > td.active:hover,
#corahnrin .table > tbody > tr > td.active:hover,
#corahnrin .table > tfoot > tr > td.active:hover,
#corahnrin .table > thead > tr > th.active:hover,
#corahnrin .table > tbody > tr > th.active:hover,
#corahnrin .table > tfoot > tr > th.active:hover,
#corahnrin .table > thead > tr.active:hover > td,
#corahnrin .table > tbody > tr.active:hover > td,
#corahnrin .table > tfoot > tr.active:hover > td,
#corahnrin .table > thead > tr.active:hover > th,
#corahnrin .table > tbody > tr.active:hover > th,
#corahnrin .table > tfoot > tr.active:hover > th {
    background-color: rgba(105, 95, 75, 0.625);
}

#corahnrin .table > thead > tr > td.success,
#corahnrin .table > tbody > tr > td.success,
#corahnrin .table > tfoot > tr > td.success,
#corahnrin .table > thead > tr > th.success,
#corahnrin .table > tbody > tr > th.success,
#corahnrin .table > tfoot > tr > th.success,
#corahnrin .table > thead > tr.success > td,
#corahnrin .table > tbody > tr.success > td,
#corahnrin .table > tfoot > tr.success > td,
#corahnrin .table > thead > tr.success > th,
#corahnrin .table > tbody > tr.success > th,
#corahnrin .table > tfoot > tr.success > th {
    background-color: rgba(123, 159, 109, 0.5);
    color: #AADAAA;
}

#corahnrin .table-hover > tbody > tr > td.success:hover,
#corahnrin .table-hover > tbody > tr > th.success:hover,
#corahnrin .table-hover > tbody > tr.success:hover > td,
#corahnrin .table-hover > tbody > tr.success:hover > th {
    background-color: rgba(123, 159, 109, 0.6);
}

#corahnrin .table > thead > tr > td.info,
#corahnrin .table > tbody > tr > td.info,
#corahnrin .table > tfoot > tr > td.info,
#corahnrin .table > thead > tr > th.info,
#corahnrin .table > tbody > tr > th.info,
#corahnrin .table > tfoot > tr > th.info,
#corahnrin .table > thead > tr.info > td,
#corahnrin .table > tbody > tr.info > td,
#corahnrin .table > tfoot > tr.info > td,
#corahnrin .table > thead > tr.info > th,
#corahnrin .table > tbody > tr.info > th,
#corahnrin .table > tfoot > tr.info > th {
    background-color: rgba(121, 171, 197, 0.5);
    color: #BCE1FC;
}

#corahnrin .table-hover > tbody > tr > td.info:hover,
#corahnrin .table-hover > tbody > tr > th.info:hover,
#corahnrin .table-hover > tbody > tr.info:hover > td,
#corahnrin .table-hover > tbody > tr.info:hover > th {
    background-color: rgba(121, 171, 197, 0.6);
}

#corahnrin .table > thead > tr > td.warning,
#corahnrin .table > tbody > tr > td.warning,
#corahnrin .table > tfoot > tr > td.warning,
#corahnrin .table > thead > tr > th.warning,
#corahnrin .table > tbody > tr > th.warning,
#corahnrin .table > tfoot > tr > th.warning,
#corahnrin .table > thead > tr.warning > td,
#corahnrin .table > tbody > tr.warning > td,
#corahnrin .table > tfoot > tr.warning > td,
#corahnrin .table > thead > tr.warning > th,
#corahnrin .table > tbody > tr.warning > th,
#corahnrin .table > tfoot > tr.warning > th {
    background-color: rgba(194, 169, 121, 0.5);
    color: #CCC67D;
}

#corahnrin .table-hover > tbody > tr > td.warning:hover,
#corahnrin .table-hover > tbody > tr > th.warning:hover,
#corahnrin .table-hover > tbody > tr.warning:hover > td,
#corahnrin .table-hover > tbody > tr.warning:hover > th {
    background-color: rgba(194, 169, 121, 0.6);
}

#corahnrin .table > thead > tr > td.danger,
#corahnrin .table > tbody > tr > td.danger,
#corahnrin .table > tfoot > tr > td.danger,
#corahnrin .table > thead > tr > th.danger,
#corahnrin .table > tbody > tr > th.danger,
#corahnrin .table > tfoot > tr > th.danger,
#corahnrin .table > thead > tr.danger > td,
#corahnrin .table > tbody > tr.danger > td,
#corahnrin .table > tfoot > tr.danger > td,
#corahnrin .table > thead > tr.danger > th,
#corahnrin .table > tbody > tr.danger > th,
#corahnrin .table > tfoot > tr.danger > th {
    background-color: rgba(224, 133, 133, 0.5);
    color: #DC9696;
}

#corahnrin .table-hover > tbody > tr > td.danger:hover,
#corahnrin .table-hover > tbody > tr > th.danger:hover,
#corahnrin .table-hover > tbody > tr.danger:hover > td,
#corahnrin .table-hover > tbody > tr.danger:hover > th {
    background-color: rgba(224, 133, 133, 0.6);
}



/** Pagination **/
#corahnrin .pagination > li > a,
#corahnrin .pagination > li > span {
    background-color: rgba(105, 95, 75, 0.4);
    border-color: #666;
    color: #bbb;
}

#corahnrin .pagination > li:hover > a,
#corahnrin .pagination > li:hover > span {
    background-color: rgba(105, 95, 75, 0.55);
}

#corahnrin .pagination > li.active > a,
#corahnrin .pagination > li:active > a,
#corahnrin .pagination > li.active > span,
#corahnrin .pagination > li:active > span {
    background-color: rgba(105, 95, 75, 0.75);
}


/** jQueryUI **/
#corahnrin .ui-slider .ui-slider-handle {
    background-color: #aaa0aa;
    border: 1px solid #666666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#corahnrin .ui-slider:hover .ui-slider-handle {
    background-color: #C8BCAB;
}

#corahnrin .ui-slider .ui-slider-handle:hover {
    background-color: #BEAC92;
}

#corahnrin .ui-slider {
    background-color: rgba(132, 132, 132, 0.2);
    border: solid 1px #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}