{% extends "::layout.html.twig" %}

{% block title %}{% trans %}Générateur{% endtrans %} {{ parent() }}{% endblock %}

{% block menus %}
	{{ parent() }}
	{% render(controller("CorahnRinCharactersBundle:Generator:menu")) %}
{% endblock %}

{% block content_for_layout %}
	<h1>{{ 'Générateur' | trans }}</h1>
{% endblock %}
