{% extends "::layout.html.twig" %}

{% block title %}{% trans %}Générateur{% endtrans %} {{ parent() }}{% endblock %}

{% block content_for_layout %}
<h1>{{ 'Générateur' | trans }}</h1>
{{ parent() }}
{% endblock %}
