{% spaceless %}
    <h3>{{ 'entities.markers.title_singular' | trans(domain='EsterenMaps') }}</h3>
    {{ form(form) }}
    <button class="btn btn-small" data-save data-save-marker type="button">
        {{ 'action.save'|trans }}
        <span class="progress"><span class="indeterminate"></span></span>
    </button>
{% endspaceless %}
