{% extends '@EsterenPortal/esteren-layout.html.twig' %}

{% block menu_left_content %}
    <li>
        <a href="#" class="dropdown-button" data-activates="maps-dropdown">
            {{ 'entities.maps.title' | trans({}, 'EsterenMaps') }}
            <span class="fa fa-caret-down"></span>
        </a>
        <ul id="maps-dropdown" class="dropdown-content">
            {% for map in get_menu_maps() %}
                <li>
                    <a href="{{ path('esterenmaps_maps_maps_view', {'nameSlug': map.nameSlug}) }}">{{ map.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}
