
#list_advantages .change_avdesv,
#list_disadvantages .change_avdesv {
    -webkit-transition: background 400ms;
       -moz-transition: background 400ms;
         -o-transition: background 400ms;
            transition: background 400ms;
}


@media (max-width: @screen-sm-max) {
    #list_advantages {
        border-bottom: solid 1px white;
    }
}

@media (min-width: @screen-md-min) {
    #list_advantages {
        border-right: solid 1px white;
    }
}

/* Setup advantage states */
.btn {
    &[class*="btn-state"] {
        color: @link-color;
    }
    &[class*="btn-state"]:before {
        font-family: FontAwesome;
        display: inline-block;
        color: @state-success-bg;
        letter-spacing: 5px;
    }
    &.btn-state-1:before {
        content: "@{fa-var-check-circle} ";
    }
    &.btn-state-2:before {
        content: "@{fa-var-check-circle} @{fa-var-check-circle} ";
    }
    &.btn-state-3:before {
        content: "@{fa-var-check-circle} @{fa-var-check-circle} @{fa-var-check-circle} ";
    }
}
