
// Webserver dir is used by Less to import files, mostly.
// You should duplicate these parameters when creating new LESS resources in another bundle.
@src-dir: "../../../../../..";
@components-dir: "@{src-dir}/../web/components";

// Path to the ./web/ directory used for computed resources paths only.
// Default is "../" because the css is outputted to web/css/
@web-dir: "../";

@import "@{components-dir}/bootstrap/less/variables";
@import "@{src-dir}/Esteren/PortalBundle/Resources/public/less/bootstrap-override-variables";

// Load fontawesome variables so that we can also use icons for custom use
@import "@{components-dir}/fontawesome/less/variables";

@import '_step_03_naissance';
@import '_step_09_traits';
@import '_step_11_des_avtg';

div.gen-div-choice,
div.gen-div-choice-disabled {
   -webkit-transition: 0.2s background-color ease-in-out;
      -moz-transition: 0.2s background-color ease-in-out;
        -o-transition: 0.2s background-color ease-in-out;
           transition: 0.2s background-color ease-in-out;
}

div.gen-div-choice:hover {
    background-color: rgba(238, 238, 238, 0.1);
    cursor:pointer;
}

div.gen-div-choice.selected,
div.gen-div-choice-disabled.selected {
    background-color: rgba(238, 238, 238, 0.2);
}

div.gen-div-choice.selected:hover {
    background-color: rgba(238, 238, 238, 0.3);
}

div.divchoice-inside {
    display: none;
    padding-bottom: 10px;
}
