{% extends "::layout.html.twig" %}

{% block title %}CorahnRinPagesBundle:Pages:index {{ parent() }}{% endblock %}

{% block content_for_layout %}
<h1>Welcome to the Pages:index page</h1>

{{ 'Hello %world% !!' | trans({'%world%':'ok'}) }}
{% endblock %}
